<aside class="navbar-default sidebar">
	<div class="sidebar-content">
		<div class="add-on-container">
			<div class="sidebar-container-default sidebar-section">
				<div class="media">
					<div class="media-body">
						<div class="avatar avatar-image avatar-lg center-block">
							<img src="https://cdn.discordapp.com/avatars/<%= user.discord.id %>/<%= user.discord.avatar %>.png" alt="Avatar">
							<i class="avatar-status bg-success avatar-status-bottom"></i>
						</div>
						<h5 class="media-heading text-center m-t-2 m-b-0"><span><%= user.username %>#<%= user.discriminator%></span></h5>
						<p class="text-center small"><%= user.email%></p>
					</div>
				</div>
				<ul class="nav nav-pills">
					<li role="presentation">
						<a href="#">
							<span class="f-w-300 text-center h1 m-b-0 m-t-0"><%= keyTotal %></span><br>
							<small class="text-white">Keys</small>
						</a>
					</li>
					<li role="presentation">
						<a href="#">
							<span class="f-w-300 h1 text-center m-b-0 m-t-0">00</span><br>
							<small class="text-white">Servers</small>
						</a>
					</li>
					<li role="presentation">
						<a href="#">
							<span class="f-w-300 h1 text-center m-b-0 m-t-0">00</span><br>
							<small class="text-white">Players</small>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="sidebar-default-visible text-muted small text-uppercase sidebar-section p-y-2">
			<strong>Navigation</strong>
		</div>

		<!-- START Tree Sidebar Common -->
		<ul class="side-menu">
			<li <% if (page == "dashboard") {%>class="active"<%}%>>
				<a href="/k/dashboard">
					<i class="fa fa-home fa-lg fa-fw"></i><span class="nav-label">Dashboard</span>
				</a>
			</li>

			<li <% if (page == "servers" && page == "server") {%>class="active"<%}%>>
				<a href="/k/servers">
					<i class="fa fa-server fa-lg fa-fw"></i><span class="nav-label">Servers</span>
				</a>
			</li>

			<li <% if (page == "keys") {%>class="active"<%}%>>
				<a href="/k/keys">
					<i class="fa fa-key fa-lg fa-fw"></i><span class="nav-label">Keys</span>
				</a>
			</li>

		</ul>
		<!-- END Tree Sidebar Common  -->


		<div class="sidebar-default-visible">
			<hr>
		</div>
	</div>
</aside>
